
  
  body {
    font-family: 'Nunito', cursive;
    color: #384047;
  }
  
  form {
    max-width: 30rem;
    margin: 2vh auto;
    padding: 2vh 4vh;
    background: #f4f7f8;
    border-radius: 8px;
  }
  
  h1 {
    margin: 0 0 3vh 0;
    text-align: center;
  }
  
  input[type="text"],
  input[type="password"],
  input[type="date"],
  input[type="email"],
  input[type="number"],
  input[type="tel"],
  textarea {
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 1rem;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 2vh;
    width: 100%;
    background-color: #e8eeef;
    color: #8a97a0;
    box-shadow: 0 0.2rem 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 3vh;
  }
  
  input[type="checkbox"] {
    margin: 0 0.4rem 0.8rem 0;
  }
  

  button {
    padding: 1.9vh 3vh 1.8vh 3vh;
  color: #FFF;
  background-color: #4bc970;
  font-size: 1rem;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 0.1rem solid #3ac162;
  border-width: 0.1rem 0.1rem 0.3rem;
  box-shadow: 0 -0.1rem 0 rgba(255,255,255,0.1) inset;
  cursor:pointer;
  margin-bottom: 1vh;
  }
  
  fieldset {
    margin-bottom: 3vh;
    border: none;
  }
  
  legend {
    font-size: 1.4em;
    margin-bottom: 1vh;
  }
  
  label {
    display: block;
    margin-bottom: 0.8vh;
  }
  
  label.light {
    font-weight: 300;
    display: inline;
  }
  
  .number {
    background-color: #5fcf80;
  color: #fff;
  height: 3vh;
  width: 3vh;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 0.4rem;
  line-height: 3vh;
  text-align: center;
  text-shadow: 0 0.1rem 0 rgba(255,255,255,0.2);
  border-radius: 100%;

  }
  
  @media screen and (min-width: 48rem) {
    form {
      max-width: 48rem;
    }
  }