@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root{
	--darkblue:#ffffff;
	--lightblue:#ffffff;
	--blue:#2bc2cd;
	--nbox:#323249;
	--black:#ffffff;
	--font-color:#056896;
	--font-light:#878aa7;
	--white:#fff;
	--shadow:0 0 0.375rem 0.25rem rgba(168, 200, 206, 0.907);;

}
*{margin: 0px; padding: 0px; font-family: 'Montserrat', sans-serif;}
.clearfix{clear: both;}
body{background: var(--black); height: 100vh; overflow: hidden; }
.sidebar{width: 220px; background: var(--darkblue); padding:25px; margin-top: 40px;
	height: 100%; position: relative;transition: 1s ease-in-out; float: left;
box-shadow: var(--shadow);}
.main{max-width: 100%; width: 79.1%; float: left; padding: 25px;}
.logo span{font-size: 32px; color: var(--font-light); font-weight: normal;}
.logo{color: var(--blue); font-weight: bold;font-size: 32px;}
.menu-icon{background: var(--blue);
    border-radius: 21px;
    height: 25px;
    width: 25px;
    text-align: center;
    line-height: 26px!important;
    color: var(--white);
    font-size: 12px!important;
    position: absolute;
    right: -18px;
    top: 20px;
    border: 5px solid #232333;}
.sidenav{margin-top: 20px;}
.sidenav li{list-style: none;padding: 12px 10px;border-radius: 10px;margin-bottom: 10px;
	font-size: 15px;font-weight: bold; }
	.app{
		margin: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #767685;
    font-size: 13px;
    position: relative;
	}
	.app:after{
		content: '';
		position: absolute;
		width: 40px;
		height: 1px;
		background: var(--font-color);
		left: -50px;
    	top: 17px;
	}
.sidenav li:hover{background-color: rgba(29, 20, 156, 0.06);}
.sidenav li i{color: var(--font-color); padding-right: 7px; }
.sidenav li a{text-decoration: none; color: var(--font-color);}
.active{ background:var(--blue)!important; position: relative; }
.sidenav li span{float: right;}
.sidenav .active a{color: var(--white)!important;}
.sidenav .active i{color: var(--white)!important;}
.active:after{
	content: "";
    position: absolute;
    right: -24px;
    width: 0.25rem;
    height: 2.5rem;
    top: 2px;
    background: var(--blue);
    border-radius: 0.375rem 0 0 0.375rem;
}
.dropdown{display: none;}
.dropdown li{padding: 12px 10px; padding: 15px;}
.dropdown li a{padding-left: 20px;}
.dot{
	height: 7px;
	width: 7px;
	border-radius: 10px;
	background: var(--font-color);
	float:left!important;
	margin-top: 5px;
}
.active1 {width: 40px;transition: 1s ease-in-out;}
.menuicon{transform: rotateZ(-180deg);transition: 1s ease-in-out;}
.lislide{padding:8px 11px!important; font-size: 20px!important;}
.lm{text-align: center;font-size: 30px;}
.anchor{display: none;}
.headspan{display: none;}
.apphide{color: transparent; padding: 0px;}
.apphide:after{left: -5px;}
.main-top{width: 100%; background: var(--lightblue);
box-shadow: var(--shadow); padding: 15px 25px;
box-sizing: border-box; border-radius: 10px;}
.main-width{width: 89.5%; transition: 1s ease-in-out;}
.input{padding: 9px; outline: none; background: transparent; border: none;
color: var(--white); background: url(../image/search.png);background-size: 20px;
    background-repeat: no-repeat;
    padding-left: 40px;
    background-position: center left; float: left;}
.top-right{float: right;width: 50%; text-align:right;}
.topicon{font-size:20px!important; color: var(--font-color); padding-top: 5px;
margin-right: 20px;vertical-align: text-bottom;height: 26px; }
.user{width: 35px;margin-bottom: -5px;}
.bell{position: relative;}
.bell:after{
	content: '2';
    width: 12px;
    height: 12px;
    font-size: 10px;
    color: var(--white);
    position: absolute;
    border-radius: 10px;
    background: rgb(0, 213, 255);
    left: 11px;
    text-align: center;
    padding: 1px;
     transform: scale(0.5);
	box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
	animation: pulse-red 2s infinite;
}
@keyframes pulse-red {
	0% {transform: scale(0.85);
		box-shadow: 0 0 0 0 rgba(40, 20, 154, 0.7);}
	70% {transform: scale(1);
		box-shadow: 0 0 0 25px rgba(255, 82, 82, 0);}
	100% {transform: scale(0.85);
		box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);}
}
.user1{position: relative;}
.user1:after{
	content: "";
    position: absolute;
    bottom: 0;
    right: 3px;
    width: 8px;
    height: 8px;
    border-radius: 100%;
    background-color: #71dd37;
    box-shadow: 0 0 0 2px #232333;
}
.noti-div{position: absolute;}
.profile-div{
  background-color: var(--nbox);
  width: 200px;
  padding: 10px 0px;
  right: -20%;
  border-radius: 5px;
  position: absolute;
  z-index: 9;
  display: none;
  top: 44px;
  text-align: left;
  box-shadow: var(--shadow);
}
.profile-div:after{
  content: '';
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: var(--nbox);
    top: -6px;
    transform: rotate(45deg);
    right: 10%;
}
.profile-div p{margin: 0px;padding: 10px 20px; color: var(--font-color);}
.profile-div p:hover{
  margin: 0px;
    padding: 10px 20px;
    background-color: var(--blue);
    border-radius: 0px;
    color: var(--white);
}
.notification-div{
  background-color: var(--nbox);
  width: 300px;
  padding: 10px 0px;
  right: 6.4%;
  border-radius: 5px;
  position: absolute;
  z-index: 9;
  display: none;
  top: 84px;
  text-align: left;
  box-shadow: var(--shadow);
}
.notification-div:after{
  content: '';
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: var(--nbox);
    top: -6px;
    transform: rotate(45deg);
    right: 10%;
}
.notification-div p{margin: 0px;padding: 10px 20px; color: var(--font-color);}
.notification-div p:hover{
  margin: 0px;
    padding: 10px 20px;
    background-color: var(--blue);
    border-radius: 0px;
    color: var(--white); 
}
.cong-box{
	background-image: url("medical.png");
	background-size: cover;
	height: 255px;
	width: 55%;
	box-shadow: var(--shadow);
	
	margin-top: 30px;
  
	float: left;
	border-radius: 10px;
}

.content{width:350px; float: left; padding:25px;}
.head{color: var(--blue);}
.content p:nth-child(3){color: var(--font-color);font-size: 12px;line-height: 22px;}
.btn{
	    padding: 6px 12px;
    margin-top: 18px;
    font-size: 12px;
    background: var(--blue);
    color: var(--white);
    border: none;
    border-radius: 5px;
}
.com-box{
	height: 100%;
	width: 15%;
  margin-right: 30px;
	margin-top: 13px;
	float: left;
	margin-left: 40px;
	border-radius: 10px;
}
.com-boxa{
	height: 100%;
	width: 15%;
  margin-right: 1px;
	margin-top: 13px;
	float: left;
	margin-left: 0px;
	border-radius: 10px;
}
.com-inner{ width: 120%;float: left;margin-left: 0px;}

.table-box{
	width:70%;
  	height: 320px;
	box-shadow: var(--shadow);
	background: var(--lightblue);
	margin-top: 5px;
	border-radius: 10px;
	float: left;}
table {
  border-collapse: collapse;
  margin: 0;
  
  padding: 0;
  width: 100%;
  font-size: 14px;
  border-radius: 10px;
  color: var(--font-color);
  table-layout: fixed;
  border-spacing: 0 15px;
}
table tr {padding: .15em;margin-bottom: 10px;}
table th,
table td {padding: 1em;text-align: left;}
table th {font-size: .85em;letter-spacing: .1em;text-transform: uppercase;}
.tab-img{
	display: inline-block;
    width: 30px;
    vertical-align: middle;
    border: 1px solid #000;
    border-radius: 18px;
    margin-right: 8px;
}
.ticon{
	padding: 5px;
	background: var(--gray);
	border-radius: 4px;
	width: 15px;
	height: 15px;
	text-align: center;
}
.pe{
	content: '';
	position:absolute;
	width: 7px;
	height: 7px;
	background: rgb(31, 196, 22);
	border-radius: 10px;
	left: -2px;
    top: 28px;
    transform: scale(0.5);
	box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
	animation: pulse-red 2s infinite;
	cursor: pointer;
}
.de{
	content: '';
	position:absolute;
	width: 7px;
	height: 7px;
	background: green;
	border-radius: 10px;
	left: -2px;
    top: 28px;
    transform: scale(0.5);
	box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
	animation: pulse-green 2s infinite;
	cursor: pointer;
}
@keyframes pulse-green {
	0% {transform: scale(0.85);
	box-shadow: 0 0 0 0 rgba(82, 255, 82, 0.7);}
	70% {transform: scale(1);
		box-shadow: 0 0 0 25px rgba(82, 255, 82, 0);}
	100% {transform: scale(0.85);
		box-shadow: 0 0 0 0 rgba(82, 255, 82, 0);}
}
.active-tr{background: var(--blue);color: var(--white);}
.active-tr .ticon{background: #e5e5e54f;}
.t-sale{
	width: 27%;
	float: left;
	height: 325px;
	box-shadow: var(--shadow);
	background: var(--lightblue);
	margin-top: 0px;
	margin-left: 25px;
	border-radius: 10px;
}
.circle-wrap {
  margin: 50px auto;
  width: 150px;
  height: 150px;
  background: var(--black);
  border-radius: 50%;
  margin-left: 105px;
  margin-top: 20px;
}
.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
  width: 140px;
  height: 140px;
  position: absolute;
  border-radius: 50%;
  
}
.circle-wrap .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}
.circle-wrap .circle .mask .fill {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: var(--blue);
}
.circle-wrap .circle .mask.full,
.circle-wrap .circle .fill {
  animation: fill ease-in-out 3s;
  transform: rotate(126deg);
}
@keyframes fill {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(126deg);}
}
.circle-wrap .inside-circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #043e5f;
  line-height: 115px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 100px;
  margin-left: 10px;
  position: absolute;	
  z-index: 100;
  font-weight: 700;
  font-size: 4em;
  color: var(--blue);
}
.head-1 {
    font-size: 23px!important;
	font-weight: bold;

    margin: 20px 15px;
    color: var(--font-color);
    text-align: center;
}

.analytics__section {
	width: 100%;
	grid-row-start: 2;
	grid-row-end: 5;
	border-bottom-right-radius: 20px;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
}
/* header */
.analytics__header {
	display: grid;
	grid-template-columns: 1fr 1fr;
  

}
.analytics__header-content {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
}
.analytics__header-content_header {
	font-family: 'Bebas Neue', sans-serif;
	letter-spacing: 1.1px;
	line-height: 36px;
	margin-top: 23px;
	margin-left: 43px;
	font-weight: bolder;
	font-size: 1.9rem;
}
.analytics__header-context {
	letter-spacing: 0px;
	width: 231px;
	font-size: 0.7rem;
	font-weight: 500;
	margin-top: -10px;
	margin-left: 42px;
}
.analytics__header-button {
	width: 125px;
	height: 36px;
	margin-left: 43px;
	background-color: black;
	color: white;
	padding: 3.5px 14px;
	border-radius: 999px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 0.7rem;
	font-weight: 100;
	letter-spacing: 0.6px;
}
.analytics__header-button p {
	margin-left: 3px;
}
.analytics__header-button svg {
	width: 15px;
	height: 15px;
}
/* header */
/* cards */
.analytics__header-cards {
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
}
.analytics__header-card_status {
	box-shadow: 0px 8px 26px 15px rgba(0, 0, 0, 0.1);
	margin-left: 5.5px;
	width: 135px;
	height: 179.5px;
	border-radius: 10px;
	background-color: #65aaaa;
}
.analytics__header-card_spinner {
	border-radius: 50%;
	width: 75px;
	height: 75px;
	background-color: purple;
	position: relative;
	background: conic-gradient(#00000000, #00000000, #00000021, #000);
	transform: rotate(-20deg);
	margin-top: 21px;
	margin-left: 30px;
	box-shadow: 0px 0px 150px -75px black;
}
.analytics__header-card_spinner::before {
	content: '';
	background-color: #63a7a7;
	position: absolute;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.analytics__header-card_spinner::after {
	content: attr(data-per) '%';
	font-size: 1.1rem;
	font-weight: 900;
	top: 26px;
	left: 22px;
	position: absolute;
	transform: rotate(20deg);
}
.analytics__header-card_spinner-check {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	width: 24px;
	height: 24px;
	padding: 4px;
	stroke-width: 3;
	border-radius: 100px;
	position: relative;
	left: 36.2px;
	top: 59px;
	transform: rotate(20deg);
}
.analytics__header-card_text-context {
	font-size: 0.7rem;
	margin-top: 20px;
	margin-left: 20px;
}
.analytics__header-card_text-context b {
	font-weight: 900;
}
.analytics__header-card_text-context p {
	margin-top: 4.8px;
	margin-left: 1px;
	font-size: calc(0.6rem);
	/* letter-spacing: 0rem; */
	width: 100px;
	line-height: 12px;
	color: rgb(88, 88, 88);
}

.analytics__header-pro-plan_card {
	box-shadow: 0px 8px 26px 15px rgba(0, 0, 0, 0.1);
	width: 229.9px;
	height: 179.5px;
	border-radius: 10px;
	margin-left: 16px;
	background-color: #ea4d57;
	background-repeat: no-repeat;
	background-position: center;
}
.analytics__header-shapes_card-text {
	position: absolute;
	z-index: 1;
}
.analytics__header-shapes_card {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.analytics__header-shapes_card-tag {
	background-color: black;
	color: white;
	margin-top: 21px;
	margin-left: 20px;
	/* padding: 4px; */
	width: 22px;
	height: 12px;
	font-size: calc(0.4rem - 0.8px);
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100px;
}
.analytics__header-shapes_card-header {
	font-weight: 800;
	font-size: 1.2rem;
	line-height: 20.5px;
	width: 100px;
	margin-top: 6.9px;
	margin-left: 19.6px;
}
.analytics__header-shapes_card-content {
	width: 100px;
	font-size: 0.6rem;
	margin-top: 18px;
	margin-left: 21px;
	line-height: 12px;
	color: #303030;
}

/* patient profile */















body {
	font-family: 'Poppins', sans-serif;
	align-items: center;
	justify-content: center;
	background-color: #ffffff;
	min-height: 100vh;
 }
image {
	max-width: 100%;
	display: block;

}

ul {
	list-style: none;
  }
  
  /* Utilities */
  .card::after,
  .card img {
	border-radius: 50%;
  }
  body,
  .card,
  .stats {
	display: flex;
  }
  
  .card {
	padding: 2.5rem 2rem;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, .5);
	max-width: 100%;
	max-height: 90%;
	box-shadow: 0 0 0px rgba(0, 0, 0, .15);
	margin: 0.1rem;
	position: relative;
	transform-style: preserve-3d;
	overflow: hidden;
	
  }
  .card::before,
  .card::after {
	content: '';
	position: absolute;
	z-index: -1;
  }
  .card::before {
	width: 100%;
	height: 100%;
	border: 1px solid #FFF;
	border-radius: 10px;
	top: -.7rem;
	left: -.7rem;
  }
  .card::after {
	height: 15rem;
	width: 15rem;
	background-color: #6cc8dfaa;
	top: -8rem;
	right: -8rem;
	box-shadow: 2rem 6rem 0 -3rem #FFF
  }
  
  .card img {
	width: 1rem;
	min-width: 225px;
	box-shadow: 0 0 0 5px #FFF;
  }
  
  .infos {
	margin-left: 1.5rem;
  }
  
  .name {
	margin-bottom: 1rem;
  }
  .name h2 {
	font-size: 1.3rem;
  }
  .name h4 {
	font-size: .8rem;
	color: #333
  }
  
  .text {
	font-size: .9rem;
	margin-bottom: 1rem;
  }
  
  .stats {
	margin-bottom: 1rem;
  }
  .stats li {
	min-width: 5rem;
  }
  .stats li h3 {
	font-size: .99rem;
  }
  .stats li h4 {
	font-size: .75rem;
  }
  
  .links button {
	font-family: 'Poppins', sans-serif;
	min-width: 120px;
	padding: .5rem;
	border: 1px solid #252a40;
	border-radius: 15px;
	font-weight: bold;
	cursor: pointer;
	transition: all .25s linear;
  }
  .links .follow,
  .links .view:hover {
	background-color: #0b5f7c;
	color: #FFF;
  }
  .links .view,
  .links .follow:hover{
	background-color: transparent;
	color: #222;
  }
  
  @media screen and (max-width: 450px) {
	.card {
	  display: block;
	}
	.infos {
	  margin-left: 0;
	  margin-top: 1.5rem;
	}
	.links button {
	  min-width: 100px;
	}
  }













