@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
:root {
	--darkblue: #ffffff;
	--lightblue: #ffffff;
	--blue: #2bc2cd;
	--nbox: #323249;
	--black: #ffffff;
	--font-color: #056896;
	--font-light: #878aa7;
	--white: #fff;
	--shadow: 0 0 0.375rem 0.25rem rgba(168, 200, 206, 0.907);
  }
:root {
	--hue: 223;
	--bg: #ffff;
	--fg: hsl(var(--hue),10%,10%);
	--primary: hsl(var(--hue),90%,50%);
	--trans-dur: 0.3s;
	font-size: calc(16px + (24 - 16) * (100vw - 320px) / (2560 - 320));
}
a {
	color: hsl(var(--hue),90%,50%);
	transition: color var(--trans-dur);
}
  
.sidebar {
	width: 14.75rem;
	  background: var(--darkblue);
	  padding: 1.563rem;
	  height: 100%;
	  position: relative;
	  transition: 1s ease-in-out;
	  position: fixed;
	  font-weight: 100;
	  box-shadow: var(--shadow);
	}
	

	.logo span {
		font-size: 2rem;
		color: var(--font-light);
		font-weight: normal;
	  }
	  .logo {
		color: var(--blue);
		font-weight: bold;
		font-size: 2rem;
	  }


	.sidenav {
		margin-top: 1.25rem;
	  }
	  .sidenav li {
		list-style: none;
		padding: 0.75rem 0.625rem;
		border-radius: 0.625rem;
		margin-bottom: 0.625rem;
		font-size: 0.738rem;
		font-family: 'Montserrat';
		font-weight: bold;
		
	  }
	  
	  .sidenav li:hover {
		background-color: rgba(29, 20, 156, 0.06);
	  }
	  .sidenav li i {
		color: var(--font-color);
		padding-right: 0.438rem;
	  }
	  
	  .sidenav li a {
		text-decoration: none;
		color: var(--font-color);
	  }
	  .active {
		background: var(--blue) !important;
		position: relative;
	  }
	  .sidenav li span {
		float: right;
	  }
	  
	  .sidenav .active a {
		color: var(--white) !important;
	  }
	  
	  .sidenav .active i {
		color: var(--white) !important;
	  }
	  .active:after {
		content: "";
		position: absolute;
		right: -1.5rem;
		width: 0.25rem;
		height: 2.5rem;
		top: 2px;
		background: var(--blue);
		border-radius: 0.375rem 0 0 0.375rem;
	  }
      html {
        height: 100%;
      }
      
      body {
        overflow: hidden;
        background: #bcdee7 url("../img/bg.jpg") no-repeat center center fixed;
        background-size: cover;
        position: fixed;
        padding: 0px;
        margin: 0px;
        width: 100%;
        height: 100%;
        font: normal 14px/1.618em "Roboto", sans-serif;
        -webkit-font-smoothing: antialiased;
      }
      
      body:before {
        content: "";
        height: 0px;
        padding: 0px;
        border: 130em solid #313440;
        position: absolute;
        left: 50%;
        top: 100%;
        z-index: 2;
        display: block;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-animation: puff 0.5s 1.8s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, borderRadius 0.2s 2.3s linear forwards;
        animation: puff 0.5s 1.8s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, borderRadius 0.2s 2.3s linear forwards;
      }
      
      
      
      .profile-card {
        background: #FFB300;
        position: absolute;
        left: 55%;
        top: 50%;
        z-index: 2;
        overflow: hidden;
        opacity: 0;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-border-radius: 50%;
        border-radius: 50%;
        -webkit-box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16), 0px 3px 6px rgba(0, 0, 0, 0.23);
        -webkit-animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
        animation: init 0.5s 0.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) forwards, moveDown 1s 0.8s cubic-bezier(0.6, -0.28, 0.735, 0.045) forwards, moveUp 1s 1.8s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards, materia 0.5s 2.7s cubic-bezier(0.86, 0, 0.07, 1) forwards;
      }
      
      .profile-card header {
        
        padding: 40px 20px 30px 20px;
        display: inline-block;
        border-right: 2px dashed #EEEEEE;
        background: #FFFFFF;
        color: #000000;
        margin-top: 50px;
        opacity: 0;
        text-align: center;
        -webkit-animation: moveIn 1s 3.1s ease forwards;
        animation: moveIn 1s 3.1s ease forwards;
      }
      
      .profile-card header h1 {
        color: var(--font-color);
        font-size: 4rem;
        margin-top: 0.6em;
        padding-bottom: 0.8em;
      }
      .profile-bio  p {
       font-size: 1.5em;
       margin-bottom: 0.2em;
      }
      
      .profile-card header a {
        display: inline-block;
        text-align: center;
        position: relative;
        margin: 25px 30px;
      }
      
      .profile-card header a:after {
        position: absolute;
        content: "";
        bottom: 3px;
        right: 3px;
        width: 20px;
        height: 20px;
        border: 4px solid #FFFFFF;
        -webkit-transform: scale(0);
        transform: scale(0);
        background: -webkit-linear-gradient(top, #2196F3 0%, #2196F3 50%, #FFC107 50%, #FFC107 100%);
        background: linear-gradient(#2196F3 0%, #2196F3 50%, #FFC107 50%, #FFC107 100%);
        -webkit-border-radius: 50%;
        border-radius: 50%;
        -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
        -webkit-animation: scaleIn 0.3s 3.5s ease forwards;
        animation: scaleIn 0.3s 3.5s ease forwards;
      }
      
      .profile-card header a > img {
        width: 1px;
        max-width: 100%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        -webkit-transition: -webkit-box-shadow 0.3s ease;
        transition: box-shadow 0.3s ease;
        -webkit-box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.06);
        box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.06);
      }
      
      .profile-card header a:hover > img {
        -webkit-box-shadow: 0px 0px 0px 12px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 0px 12px rgba(0, 0, 0, 0.1);
      }
      
      .profile-card .profile-bio {
        height: 180px;
        display: inline-block;
        padding: 500px 20px 30px 20px;
        background: #FFFFFF;
        color: #333333;
        margin-top: 50px;
        text-align: center;
        opacity: 0;
        -webkit-animation: moveIn 1s 3.1s ease forwards;
        animation: moveIn 1s 3.1s ease forwards;
      }
      
     
      @-webkit-keyframes init {
        0% {
          width: 0px;
          height: 0px;
        }
        100% {
          width: 56px;
          height: 56px;
          margin-top: 0px;
          opacity: 1;
        }
      }
      
      @keyframes init {
        0% {
          width: 0px;
          height: 0px;
        }
        100% {
          width: 56px;
          height: 56px;
          margin-top: 0px;
          opacity: 1;
        }
      }
      
      @-webkit-keyframes puff {
        0% {
          top: 100%;
          height: 0px;
          padding: 0px;
        }
        100% {
          top: 50%;
          height: 100%;
          padding: 0px 100%;
        }
      }
      
      @keyframes puff {
        0% {
          top: 100%;
          height: 0px;
          padding: 0px;
        }
        100% {
          top: 50%;
          height: 100%;
          padding: 0px 100%;
        }
      }
      
      @-webkit-keyframes borderRadius {
        0% {
          -webkit-border-radius: 50%;
        }
        100% {
          -webkit-border-radius: 0px;
        }
      }
      
      @keyframes borderRadius {
        0% {
          -webkit-border-radius: 50%;
        }
        100% {
          border-radius: 0px;
        }
      }
      
      @-webkit-keyframes moveDown {
        0% {
          top: 50%;
        }
        50% {
          top: 40%;
        }
        100% {
          top: 100%;
        }
      }
      
      @keyframes moveDown {
        0% {
          top: 50%;
        }
        50% {
          top: 40%;
        }
        100% {
          top: 100%;
        }
      }
      
      @-webkit-keyframes moveUp {
        0% {
          background: #FFB300;
          top: 100%;
        }
        50% {
          top: 40%;
        }
        100% {
          top: 50%;
          background: #E0E0E0;
        }
      }
      
      @keyframes moveUp {
        0% {
          background: #FFB300;
          top: 100%;
        }
        50% {
          top: 40%;
        }
        100% {
          top: 50%;
          background: #E0E0E0;
        }
      }
      
      @-webkit-keyframes materia {
        0% {
          background: #E0E0E0;
        }
        50% {
          -webkit-border-radius: 4px;
        }
        100% {
          width: 440px;
          height: 280px;
          background: #FFFFFF;
          -webkit-border-radius: 4px;
        }
      }
      
      @keyframes materia {
        0% {
          background: #E0E0E0;
        }
        50% {
          border-radius: 4px;
        }
        100% {
          width: 44px;
          height: 280px;
          background: #FFFFFF;
          border-radius: 4px;
        }
      }
      
      @-webkit-keyframes moveIn {
        0% {
          margin-top: 50px;
          opacity: 0;
        }
        100% {
          opacity: 1;
          margin-top: -20px;
        }
      }
      
      @keyframes moveIn {
        0% {
          margin-top: 50px;
          opacity: 0;
        }
        100% {
          opacity: 1;
          margin-top: -20px;
        }
      }
      
      @-webkit-keyframes scaleIn {
        0% {
          -webkit-transform: scale(0);
        }
        100% {
          -webkit-transform: scale(1);
        }
      }
      
      @keyframes scaleIn {
        0% {
          transform: scale(0);
        }
        100% {
          transform: scale(1);
        }
      }
      
      @-webkit-keyframes ripple {
        0% {
          transform: scale3d(0, 0, 0);
        }
        50%,
        100% {
          -webkit-transform: scale3d(1, 1, 1);
        }
        100% {
          opacity: 0;
        }
      }
      
      @keyframes ripple {
        0% {
          transform: scale3d(0, 0, 0);
        }
        50%,
        100% {
          transform: scale3d(1, 1, 1);
        }
        100% {
          opacity: 0;
        }
      }
      
      @media screen and (min-aspect-ratio: 4/3) {
        body {
          background-size: cover;
        }
        body:before {
          width: 0px;
        }
        @-webkit-keyframes puff {
          0% {
            top: 100%;
            width: 0px;
            padding-bottom: 0px;
          }
          100% {
            top: 50%;
            width: 100%;
            padding-bottom: 100%;
          }
        }
        @keyframes puff {
          0% {
            top: 100%;
            width: 0px;
            padding-bottom: 0px;
          }
          100% {
            top: 50%;
            width: 100%;
            padding-bottom: 100%;
          }
        }
      }
      
      @media screen and (min-height: 480px) {
        .profile-card header {
          width: auto;
          height: auto;
          padding: 30px 20px;
          display: block;
          float: none;
          border-right: none;
        }
        .profile-card .profile-bio {
          width: auto;
          height: auto;
          padding: 15px 20px 30px 20px;
          display: block;
          float: none;
        }
        .profile-social-links {
          width: 100%;
          display: block;
          float: none;
        }
        
        @keyframes materia {
          0% {
            background: #E0E0E0;
          }
          50% {
            border-radius: 4px;
          }
          100% {
            width: 75em;
            height: 45em;
            margin-left: 6em;
            background: #FFFFFF;
            border-radius: 4px;
          }
        }
      }