@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --darkblue: #ffffff;
  --lightblue: #ffffff;
  --blue: #2bc2cd;
  --nbox: #323249;
  --black: #ffffff;
  --font-color: #056896;
  --font-light: #878aa7;
  --white: #fff;
  --shadow: 0 0 0.375rem 0.25rem rgba(168, 200, 206, 0.907);
}

:root {
  --hue: 223;
  --bg: #ffff;
  --fg: hsl(var(--hue), 10%, 10%);
  --primary: hsl(var(--hue), 90%, 50%);
  --trans-dur: 0.3s;
  font-size: calc(16px + (24 - 16) * (100vw - 320px) / (2560 - 320));
}

a {
  color: hsl(var(--hue), 90%, 50%);
  transition: color var(--trans-dur);
}

.sidebar {
  width: 14.75rem;
  background: var(--darkblue);
  padding: 1.563rem;
  height: 100%;
  position: relative;
  transition: 1s ease-in-out;
  position: fixed;
  font-weight: 100;
  box-shadow: var(--shadow);
  z-index: 100;
  /* Add this to place the sidebar above other content */
}

a {
  text-decoration: none;
  color: var(--nbox);
}

.logo span {
  font-size: 2rem;
  color: var(--font-light);
  font-weight: normal;
}

.logo {
  color: var(--blue);
  font-weight: bold;
  font-size: 2rem;
}


.sidenav {
  margin-top: 1.25rem;
}

.sidenav li {
  list-style: none;
  padding: 0.75rem 0.625rem;
  border-radius: 0.625rem;
  margin-bottom: 0.625rem;
  font-size: 0.738rem;
  font-family: 'Montserrat';
  font-weight: bold;

}

.sidenav li:hover {
  background-color: rgba(29, 20, 156, 0.06);
}

.sidenav li i {
  color: var(--font-color);
  padding-right: 0.438rem;
}

.sidenav li a {
  text-decoration: none;
  color: var(--font-color);
}

.active {
  background: var(--blue) !important;
  position: relative;
}

.sidenav li span {
  float: right;
}

.sidenav .active a {
  color: var(--white) !important;
}

.sidenav .active i {
  color: var(--white) !important;
}

.active:after {
  content: "";
  position: absolute;
  right: -1.5rem;
  width: 0.25rem;
  height: 2.5rem;
  top: 2px;
  background: var(--blue);
  border-radius: 0.375rem 0 0 0.375rem;
}

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Josefin Sans', sans-serif;
}

body {
  background-color: #f3f3f3;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  width: 1000px;
  height: 650px;
  display: flex;

}

.wrapper .left {
  width: 30%;
  background-image: url("logo1.jpg");
  padding: 30px 25px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  color: #fff;
}

.wrapper .left img {
  margin-top: 15%;
  border-radius: 5px;
  margin-bottom: 17px;
}

.wrapper .left h4 {
  font-size: 2em;
  margin-bottom: 10px;
  font: "Montserrat";
}

.wrapper .left span {
  font-weight: bold;
  font: "Montserrat";
}

.wrapper .left p {
  font-size: 1em;
  font: "Montserrat";
  margin-bottom: 9%;
}

.wrapper .right {
  width: 65%;
  background: #fff;
  padding: 30px 25px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.wrapper .right .info,
.wrapper .right .projects {
  margin-bottom: 25px;
}

.wrapper .right .info h3,
.wrapper .right .projects h3 {
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #e0e0e0;
  color: #353c4e;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.wrapper .right .info_data,
.wrapper .right .projects_data {
  display: flex;
  justify-content: space-between;
}

.wrapper .right .info_data .data,
.wrapper .right .projects_data {
  width: 55%;
}

.wrapper .right .info_data .data h4,
.wrapper .right .projects_data .data h4 {
  color: #353c4e;
  margin-bottom: 5px;
}

.wrapper .right .info_data .data p,
.wrapper .right .projects_data .data p {
  font-size: 13px;
  margin-bottom: 10px;
  color: #919aa3;
}

.wrapper .social_media ul {
  display: flex;
}

.wrapper .social_media ul li {
  width: 45px;
  height: 45px;
  background: linear-gradient(to right, #01a9ac, #01dbdf);
  margin-right: 10px;
  border-radius: 5px;
  text-align: center;
  line-height: 45px;
}

.wrapper .social_media ul li a {
  color: #fff;
  display: block;
  font-size: 18px;
}