@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --darkblue: #ffffff;
  --lightblue: #ffffff;
  --blue: #2bc2cd;
  --nbox: #323249;
  --black: #ffffff;
  --font-color: #056896;
  --font-light: #878aa7;
  --white: #fff;
  --shadow: 0 0 0.375rem 0.25rem rgba(168, 200, 206, 0.907);
}





*{margin: 0px; padding: 0px; font-family: 'Montserrat', sans-serif;}


.clearfix{clear: both;}



body {
    background: var(--black);
    height: 100vh;
    overflow: hidden;
  }

  
.sidebar {
  width: 16.75rem;
    background: var(--darkblue);
    padding: 1.563rem;
    margin-top: 2.5rem;
    height: 100%;
    position: relative;
    transition: 1s ease-in-out;
    float: left;
    box-shadow: var(--shadow);
  }



.main {
  max-width: 100%;
  width: 88.44rem;
  float: left;
  padding: 1.563rem;
}
.logo span {
    font-size: 2rem;
    color: var(--font-light);
    font-weight: normal;
  }
  .logo {
    color: var(--blue);
    font-weight: bold;
    font-size: 2rem;
  }
  
  .sidenav {
    margin-top: 1.25rem;
  }
  .sidenav li {
    list-style: none;
    padding: 0.75rem 0.625rem;
    border-radius: 0.625rem;
    margin-bottom: 0.625rem;
    font-size: 0.938rem;
    font-weight: bold;
  }
  
  .sidenav li:hover {
    background-color: rgba(29, 20, 156, 0.06);
  }
  .sidenav li i {
    color: var(--font-color);
    padding-right: 0.438rem;
  }
  
  .sidenav li a {
    text-decoration: none;
    color: var(--font-color);
  }
  .active {
    background: var(--blue) !important;
    position: relative;
  }
  .sidenav li span {
    float: right;
  }
  
  .sidenav .active a {
    color: var(--white) !important;
  }
  
  .sidenav .active i {
    color: var(--white) !important;
  }
  .active:after {
    content: "";
    position: absolute;
    right: -1.5rem;
    width: 0.25rem;
    height: 2.5rem;
    top: 2px;
    background: var(--blue);
    border-radius: 0.375rem 0 0 0.375rem;
  }
  
  .main-top {
    width: 100%;
    background: var(--lightblue);
    box-shadow: var(--shadow);
    padding: 0.938rem 1.563rem;
    box-sizing: border-box;
    border-radius: 0.625rem;
  }

  .input {
    
    padding: 0.563rem;
    outline: none;
    background: transparent;
    border: none;
    color: var(--white);
    background: url(../image/search.png);
    background-size: 1.25rem;
    background-repeat: no-repeat;
    padding-left: 2.5rem;
    background-position: center left;
    float: left;
  }
  
  .top-right {
    float: right;
    width: 50%;
    text-align: right;
  }
  .user {
    width: 2.188rem;
    margin-bottom: -0.313rem;
  }.com-box form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .com-box form label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    clear: both;
    float:left;
    margin-right:15px;

  }
  .com-box h1{
    color: var(--font-color);
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .com-box .file{
    color: var(--font-color);
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
  }
    .com-box p{
    color: var(--font-light);
    font-size: 1.5rem;
    font-weight: bold;

    }
  .com-box input[type="file"]{

    float: left;
  }
 
  
  .com-box form input[type="text"],
  .com-box form textarea {
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .com-box form button {
    width: 100%;
    padding: 15px;
    background-color: #2bc2cd;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .com-box form button:hover {
    background-color: #1e9ba3;
  }  


body {
	font-family: 'Poppins', sans-serif;
	align-items: center;
	justify-content: center;
	background-color: #ffffff;
	min-height: 100vh;
 }
image {
	max-width: 100%;
	display: block;

}

ul {
	list-style: none;
  }

  .com-box {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 0.3rem;
    margin-bottom: 1rem;
  }
  
  .com-box a {
    text-decoration: none;
    color: #000;
  }
  
  .com-box a:hover {
    text-decoration: underline;
  }
  
  .com-box p {
    margin-bottom: 0.5rem;
  }
  
  .com-box .pdf-name {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .com-box .pdf-link {
    font-size: 1rem;
  }


  
  /* Utilities */
  .card::after,
  .card img {
	border-radius: 50%;
  }
  body,
  .card,
  .stats {
	display: flex;
  }
  













