<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="pdf_file">
        <input type="submit" value="Upload">
      </form>
      <object data="gs://healthsync-c9b49.appspot.com/kashkash/attested aadhaar.pdf" 
                width="800"
                height="500">
        </object>
      <a href="gs://healthsync-c9b49.appspot.com/kashkash/attested aadhaar.pdf" download="">Click here to view the PDF</a>

       </body>
</html>